/* Base Application Styles */

// Import Bootstrap Compass integration
// Import Bootstrap for Sass

//@import "bootstrap-sprockets";
// Import custom Bootstrap variables
@import "bootstrap-variables";

//@import "bootstrap-custom";
@import "bootstrap-custom";





@import "compass/css3";


@import "compass/layout/stretching";

$company-blue: #1875e7;
$left-panel-width:200px;
$header-height:1px;

div#app-container{
@include stretch;
}

div#app-root{
  @include stretch;

  div#app-body{
    @include stretch($header-height,0,5px,0);
  }

  div.header{
    height: $header-height;
    background-color: #000;
  }

 div.left-panel{
   padding: 10px;
   width: $left-panel-width;
   background-color:aliceblue;
   @include stretch(0,0,0,0);
 }

 div.right-panel{
   padding: 10px;
   @include stretch(0,0,0,$left-panel-width);
 }

}
div.footer{
  @include stretch(auto,0,0,0);
  height: 1px;
  @include background-image(linear-gradient(white, #000 50%, #fff));
}

div.task-list-container{
  margin: 5px 0;
  div.row{
    margin: 5px 0;
  }
}

