/* Base Application Styles */

@import "compass/css3";
@import "compass/layout/stretching";

$company-blue: #1875e7;
$left-panel-width:320px;
$header-height:45px;

div#app-container{
@include stretch;
}

div#app-root{
  @include stretch;

  div#app-body{
    @include stretch($header-height,0,5px,0);
  }

  div.header{
    height: $header-height;
    border-bottom: 5px solid #000;
    @include text-shadow(rgba(black, 0.2) 1px 1px 0, rgba(blue, 0.2) 2px 2px 0, rgba(blue, 0.2) 3px 3px 0);
  }

 div.left-panel{
   padding: 10px;
   width: $left-panel-width;
   background-color: #f8f8f8;
   border-right: 1px solid #000;
   @include stretch(0,0,0,0);
 }

 div.right-panel{
   padding: 10px;
   @include stretch(0,0,0,$left-panel-width);
 }

}
div.footer{
  @include stretch(auto,0,0,0);
  height: 5px;
  @include background-image(linear-gradient(white, #000 50%, #fff));
}

div.header>p{
  font-size: 20px;
  font-style: oblique;
}

div.task-list-container{
  margin: 5px 0;
}
