<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ws="http://www.springframework.org/schema/integration/ws"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.1.xsd
		http://www.springframework.org/schema/integration/ws http://www.springframework.org/schema/integration/ws/spring-integration-ws-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">



	<int:channel id="inputChannel"></int:channel>
	<int-ws:outbound-gateway id="webservice"
		request-channel="inputChannel" message-factory="messageFactory"
		fault-message-resolver="faultMessageResolver"
		uri="http://127.0.0.1:8081/smot/AppMgmtService" marshaller="marshaller">
	</int-ws:outbound-gateway>
	
	<bean id="faultMessageResolver" class="com.danan.business.smot.service.AMFaultMessageResolver"></bean>

	<bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath" value="org.danan.appmanagment"></property>
		<property name="mtomEnabled">
		<util:constant static-field="java.lang.Boolean.TRUE" />
		</property>
	</bean>

	<bean id="ebabled" class="java.lang.Boolean">
		<constructor-arg value="true"></constructor-arg>
	</bean>

	<bean id="messageFactory" class="org.springframework.ws.soap.axiom.AxiomSoapMessageFactory">
		<property name="soapVersion">
			<util:constant static-field="org.springframework.ws.soap.SoapVersion.SOAP_12" />
		</property>
		<property name="attachmentCaching" value="true"></property>
	</bean>

</beans>
