<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.1.xsd
		http://www.springframework.org/schema/integration/mail http://www.springframework.org/schema/integration/mail/spring-integration-mail-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">





	<int:channel id="outboundMail"></int:channel>


	<int-mail:outbound-channel-adapter
		channel="outboundMail" mail-sender="mailSender">
	</int-mail:outbound-channel-adapter>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="host" value="smtp.qq.com"></property>
		<property name="username" value="274624019@qq.com"></property>
		<property name="password" value="0311711zxw"></property>
		<property name="javaMailProperties" ref="mailProperties"></property>
	</bean>


	<util:properties id="mailProperties">
		<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
		<prop key="mail.imap.socketFactory.fallback">false</prop>
		<prop key="mail.debug">true</prop>
		<prop key="mail.smtp.auth">true</prop>
		<prop key="mail.smtp.port">465</prop>
		<prop key="mail.smtp.socketFactory.port">465</prop>
	</util:properties>




</beans>
