@CHARSET "UTF-8";

div#top-header{
	background-color: #333;
	z-index:100;
	height: 50px;
	position: absolute;
	left:0;
	right:0;
	top:0;
}
div#root-container{
	position:absolute;
	top:50px;
	left:0;
	right:0;
	bottom:20px;
	overflow: hidden;
}
div#footer{
	height: 20px;
	background-color: #333;
	z-index: 100;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
}



div#header{
	height:30px;
	background-color: #000;
	color: #fff;
	line-height: 30px;
}
div#header div#banner{
	height: 30px;
	width:480px;
	float:left;
	font-size: 18px;
	text-indent: 1em;
	line-height: 30px;
}
div#header div#banner ol li{
	display: inline-block;
	line-height: 30px;
	position: relative;
	vertical-align: top;
	
}
div#header div#banner a{
	color: #fff;
}
div#header div#banner span.header_line{
	display: block;
	width: 1px;
	height: 30px;
}
div#header div#userInfo{
	height:30px;
	float:right;
	width:200px;
	text-align: right;
}
a#userInfo_ar{
	margin-right:5px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	
}

div.body{
	margin: 0 auto;
	width: 100%;
	
	/*min-height: 500px;*/
	background-color: #efefef;
	position: absolute;
	bottom: 0;
	top:30px;
	
}
div#left{
	width:200px;
	border: 1px solid #D8D8D8;
	background-color: #fff;
	padding: 10px;
	bottom:5px;
	top:5px;
	left:5px;
	position:absolute;
}

div#right{
	border: 1px solid #D8D8D8;
	position: absolute;
	left:234px;
	float: right;
	bottom: 5px;
	top:5px;
	right:5px;
	background-color: #fff;
	
}
iframe#ins {
	width: 100%;
	height: 50px;	
}
iframe#ins[src*="hao123"]{
	height: 200px;
}


/************************************************************
overlay CSS style
*************************************************************/
div#loadingOverlay{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    position: absolute;
    background-color: rgba(200,200,200,0.1);
}
@-webkit-keyframes doRotate
{
from{-webkit-transform:rotate(0deg);}
to{-webkit-transform:rotate(365deg);}
}
p.overlay-icon{
	position: absolute;
	top:50%;
	left:50%;
	font-size: xx-large;
}
p.overlay-icon span.glyphicon{
	display:block;
	animation:doRotate 1s infinite;
	-webkit-animation:doRotate 1s infinite;	
	color: indigo;
}


/********************************************************************
sidePanel CSS style
*********************************************************************/
div#sidePanel{
	position: fixed;
	right:0;
	width: 320px;
	overflow: hidden;
	transform:translateX(320px);
	/**border-left: 1px solid rgba(0,0,0,.2);**/
	background-color: #f7f7f9;
	top: 50px;
	bottom:20px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -moz-transition:transform 2s; /* Firefox 4 */
	-webkit-transition:transform 2s; /* Safari and Chrome */
	-o-transition:transform 2s; /* Opera */
	z-index: 9999;
	
}

div#sidePanel.open{
	transform:translateX(0px);
}
div#sidePanel div.flexbox-container{
	width:640px;
	display:-webkit-box;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    -webkit-transition:transform 2s;
}
div#sidePanel div.flexbox-container.moveLeft{
	transform:translateX(-320px);
}


div#sidePanel div.flex-item{
	width: 320px;
	height: 100%;
	/**-webkit-box-flex: 1;**/
	
}

/***************************************************************
Tip panel CSS style
*****************************************************************/
div.tip-panel{
	position: fixed;
	display: none;
	top: 10px;
	text-align: center;
	width: 100%;
	z-index: 200;
}
div.tip-panel.open{
	display: block;!important;
}

div.tip-panel span.msg{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 3px 15px;
	border: 1px solid transparent;
	border-radius: 4px;
}


