
			<div class="modal-body" id="userlist">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>.Id</th>
							<th>Name</th>
							<th>Birthday</th>
							<th>Comments</th>
						</tr>
					</thead>
					<tbody>
						{{#data}}
						<tr>
							<td>{{id}}
							</td>
							<td><a data-event="userDetail">{{name}}</a></td>
							<td>{{birthday}}</td>
							<td>{{comments}}</td>
						</tr>
						{{/data}}
					</tbody>
				</table>


			</div>











