
			<div class="modal-body" id="userlist">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>.Id</th>
							<th>Name</th>
							<th>Birthday</th>
							<th>Comments</th>
						</tr>
					</thead>
					<tbody>
						{{#data}}
						<tr>
							<td>{{id}}</td>
							<td><a data-event="userDetail" data-json='{{json}}'>{{name}}</a></td>
							<td>{{birthday}}</td>
							<td>{{#comments}}
								{{comments}}
								{{/comments}}
								{{^comments}}
								No Comments
								{{/comments}}
							</td>
						</tr>
						{{/data}}
					</tbody>
				</table>


			</div>


			<input type="button" class="btn btn-primary" data-event="modelTest" value="alert"/>







