<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<link rel="shortcut icon" href="#springUrl('/favicon.ico')"/>
<title>default home</title>
<!--load js-->
<script type="text/javascript" src="#springUrl('/resources/js/lib/eventsource.js')"></script>
<script type="text/javascript" src="#springUrl('/resources/js/lib/jquery.js')"></script>
<link type="text/css" rel="stylesheet" href="#springUrl('/resources/css/bootstrap.min.css')"/>
<link type="text/css" rel="stylesheet" href="#springUrl('/resources/css/base.css')"/>
<link type="text/css" rel="stylesheet" href="#springUrl('/resources/css/layout.css')"/>


 <script type="text/javascript">

 var basePath="#springUrl('/')";
      var es = new EventSource(basePath+'MessagePush');
      es.addEventListener('open', function (event) {
        document.getElementById("status").innerText='opened: ' + es.url;
      });
      es.addEventListener('message', function (event) {
        document.getElementById("remoteData").innerText=event.data;
      });
      es.addEventListener('error', function (event) {
      document.getElementById("status").innerText='closed';
      });
	  


    </script>
</head>
<body>
<!--header-->
<div id="header" class="clearfix">
<div id="userInfo" >
	<span class="header-line">
    </span>
	<a href="#springUrl('/j_spring_security_logout')" id="userInfo_ar">${SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}</a>
	
	</div>

	<div id="banner">
	<ol>
		<li>
			<a href="#springUrl('/')">SmartDoc</a>
        </li>
		<li>
        	<span class="header_line">
            </span>
		</li>
		<li>
			<a>文档</a>
        </li>
		<li>
			<a>邮箱</a>
        </li>
    </ol>
	</div>
	
</div>

<!--body 	-->
	<div class="body">
			<div id="left">					
			</div>
			<div id="right">
                				
                #set( $foo = "Velocity" )
                <p>
                Hello $foo World!

                </p>
                <div id="status"></div>
                <div id="remoteData"></div>
                
                
         
	
			
				
			</div>
		</div>
	

</body>
</html>
